AWS_REGION=us-east-1
S3_BUCKET=ricardo-vc-ses-mailbox
S3_INCOMING_PREFIX=incoming/
S3_PROCESSED_PREFIX=processed/
S3_FAILED_PREFIX=failed/
BASE_DIR=/home/ricardo/ses-s3-mailbox
MASTER_MAILDIR=/home/ricardo/ses-s3-mailbox/data/maildir/master
DB_PATH=/home/ricardo/ses-s3-mailbox/data/mailbox.db

SQS_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/ACCOUNT_ID/ses-s3-mailbox-incoming
SQS_WAIT_TIME_SECONDS=20
SQS_MAX_MESSAGES=10
